<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="assemblyKioskApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="assemblyKioskApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="assemblyKioskApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="assemblyKioskApp" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="국회 미디어 - 의사당 사람들">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta name="author" content="Rebel9" />
	<meta name="robots" content="noindex, nofollow" />
	<title>국회 미디어 - 의사당 사람들</title>



	<!-- CSS -->
	<link rel="stylesheet" href="bower_components/normalize-css/normalize.css">
	<link rel="stylesheet" href="vendor/css/style.css">
	<!-- CSS -->



	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="vendor/js/script.js"></script>
	<script src="app.js"></script>



</head>
<body ng-controller="MainCtrl" ng-init="init()">
<div id="wrapper">




	<div class="page" id="page-1" ng-show="curPage === 1">
		<!-- 시작 버튼 -->
		<div class="btn-start-wrap">
			<button type="button" class="btn btn-start" ng-click="GoPage(2, 1000)"></button>
		</div>
		<!-- //시작 버튼 -->
	</div>



	<div class="page" id="page-2" ng-show="curPage === 2">



		<div class="q-outer-wrap q-outer-{{curStep}}">


			<!-- 질문 -->
			<div class="q-wrap q-wrap-{{curStep}}" ng-class="{'load' : isQLoad}" ng-show="!isFinished">

			</div>
			<!-- //질문 -->


			<!-- 답변 버튼 -->
			<div class="a-wrap" ng-class="{'load' : isALoad}" ng-show="!isFinished">
				<div class="answer-y-wrap">
					<button type="button" class="btn btn-answer btn-answer-y" ng-disabled="answer" ng-click="SetAnswer('yes');" ng-class="{'set' : answer === 'yes'}"></button>
				</div>
				<div class="answer-n-wrap">
					<button type="button" class="btn btn-answer btn-answer-n" ng-disabled="answer" ng-click="SetAnswer('no');" ng-class="{'set' : answer === 'no'}"></button>
				</div>
			</div>
			<!-- //답변 버튼 -->


			<!-- 결과 -->
			<div class="r-wrap r-wrap-{{resultNo}}" ng-class="{'ready': isFinished, 'show': isCompleted1, 'complete' : isCompleted2}" >

			</div>
			<!-- //결과 -->


			<div class="restart-btn-wrap" ng-class="{'show' : isFinished && isCompleted3}">
				<div class="btn-restart-wrap">
					<button type="button" class="btn btn-restart" ng-click="ConfirmGoHome()"></button>
				</div>
			</div>
			<div class="home-btn-wrap">
				<button type="button" class="btn btn-home" ng-click="isConfirm = true"></button>
			</div>
			<!--
			<div class="next-btn-wrap" ng-show="!isFinished">
				<button type="button" class="btn btn-next" ng-click="GoNext()" ng-disabled="!answer || isClick"></button>
			</div>
			-->
		</div>




		<!-- 현재 단계 표시-->
		<div class="step-wrap" ng-hide="isFinished">
			<div class="step-list-wrap">
				<ul id="step-list">
					<li class="step-start"></li>
					<li ng-repeat="step in stepSts track by $index"><button type="button" class="btn btn-step btn-step-{{ $index + 1 }}" ng-click="GoStep($index)" ng-class="{'active' : curStep === ($index + 1), 'completed': stepSts[$index] !== null}" ng-disabled="!(isQLoad && isALoad) || isFinished || (stepSts[$index] === null)"></button></li>
					<li class="step-end"></li>
				</ul>
			</div>
			<button type="button" class="btn-step-nav prev" ng-disabled="!(isQLoad && isALoad) || stepSts[0] === null || curStep === 1" ng-click="GoStep(curStep - 2)"></button>
			<button type="button" class="btn-step-nav next" ng-disabled="!(isQLoad && isALoad) || stepSts[curStep - 1] === null" ng-click="GoStep(curStep)"></button>
		</div>
		<!-- //현재 단계 표시-->
	</div>



	<div class="loading" ng-class="{'show' : isLoading}">
		<div class="loading-bar">
			<img src="/vendor/img/bars-blue.svg" width="80" alt="">
		</div>
	</div>

	<div class="confirm" ng-class="{'show' : isConfirm}">
		<div class="confirm-inner">
			<button type="button" class="btn btn-close" ng-click="isConfirm = false;"></button>

			<button type="button" class="btn btn-confirm btn-confirm-yes" ng-click="GoHome(1)"></button>
			<button type="button" class="btn btn-confirm btn-confirm-no" ng-click="isConfirm = false;"></button>
		</div>
	</div>
</div>

<div id="btn-close" onclick="assmb.forceClose();"></div>


<div id="img-loader">

	<div ng-repeat="item in [1, 2, 3, 4, 5, 6, 7, 8, 9]">
		<img ng-src="vendor/img/bg-result-{{item}}.png">
		<img ng-src="vendor/img/bg-result-{{item}}-complete.png">
	</div>


	<div ng-repeat="step in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]">
		<img ng-src="vendor/img/bg-q-{{step}}.png">
		<img ng-src="vendor/img/bg-step-{{step}}.png">
		<img ng-src="vendor/img/btn-bottom-step-{{step}}-acitve.png">
		<img ng-src="vendor/img/btn-bottom-step-{{step}}.png">
	</div>

</div>
</body>
</html>
